<div class="games-container">
  <div [ngClass]="layout === 'grid' ? 'grid-layout' : 'horizontal-layout'">
    <ion-card *ngFor="let game of games" class="game-card">
      <img [src]="game.image" alt="{{ game.title }}" class="game-image" />
      <ion-card-header>
        <ion-card-title>{{ game.title }}</ion-card-title>
        <ion-card-subtitle>{{ game.studio }}</ion-card-subtitle>
      </ion-card-header>
      <ion-button expand="block" (click)="playGame(game.id)">
        Play {{ game.name }}
      </ion-button>
    </ion-card>
  </div>
</div>
