<ion-header>
  <ion-toolbar color="danger">
    <ion-title size="large" class="ion-text-center">GamerTrials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <h2>Login</h2>

    <ion-item>
      <ion-input
        label="E-mail"
        labelPlacement="stacked"
        [(ngModel)]="email"
        type="email"
        placeholder="Enter your email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Password"
        labelPlacement="stacked"
        [(ngModel)]="password"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Enter your password">
      </ion-input>
      <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePasswordVisibility()"></ion-icon>
    </ion-item>

    <ion-button expand="block" color="secondary" (click)="onLogin()">Login</ion-button>
    <ion-button expand="block" color="secondary" (click)="goToSignup()">Create Account</ion-button>
  </div>
</ion-content>
