<ion-header>
  <ion-toolbar color="crimson">
    <ion-title>Gamer Trials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="dashboard">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tournament">
        <ion-icon name="flash"></ion-icon>
        <ion-label>Tournament</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="leaderboards">
        <ion-icon name="flash"></ion-icon>
        <ion-label>Leaderboards</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
