ion-tab-bar {
  --color-selected: var(--ion-color-secondary);
  --background: var(--ion-color-secondary);
  border-bottom: 2px solid var(--ion-color-medium);
  border-top: 1px solid #ffffff;
}

ion-tab-button {
  --color: white;
  --background: transparent;
  --ripple-color: white;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  transition: all 0.3s ease;
}

ion-tab-button.tab-selected {
  --background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

// Add styles for the logout button
ion-button {
  --color: white;
  font-size: 1.2rem;
  margin-right: 8px;
}

ion-icon {
  font-size: 24px;
}
