<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title id="title">{{ tournamentName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper
    slidesPerView="1.5"
    spaceBetween="20"
    centeredSlides="true"
    loop="true"
    freeMode="true"
    class="game-carousel">
    <swiper-slide *ngFor="let game of games">
      <div class="game-card">
        <img [src]="game.image" alt="Game Image" class="game-image" />
        <ion-button expand="block" (click)="playGame(game.id)">
          Play {{ game.name }}
        </ion-button>
      </div>
    </swiper-slide>
  </swiper>

  <ion-header>
    <ion-toolbar>
      <ion-title id="title">Leaderboards</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-leaderboard [game]="game" [leaderboard]="leaderboard"></app-leaderboard>

</ion-content>
