<ion-content>
  <ng-container *ngIf="activeTournament; else noTournament">
    <app-tournament-card [competition]="activeTournament"></app-tournament-card>
  </ng-container>

  <ng-template #noTournament>
    <div class="no-tournament-message">
      <ion-text color="medium">
        <p>No tournaments happening.</p>
      </ion-text>
    </div>
  </ng-template>

  <app-leaderboard [game]="game" [leaderboard]="leaderboard"></app-leaderboard>

  <ion-button
    expand="block"
    color="primary"
    (click)="registerRandomScore()"
    class="register-score-btn"
    *ngIf="activeTournament">
    Register Random Score
  </ion-button>
</ion-content>
