.header {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  background-color: crimson;

  .game-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 8px;
  }

  .game-info {
    h2 {
      font-size: 1.2rem;
      color: var(--ion-color-primary-contrast);
    }
    p {
      margin: 4px 0 0;
      color: #bbbbbb;
    }
  }
}

.leaderboard-table {
  margin: 16px;


  ion-item {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 6px 0px;
    // border here?
  }

  .position {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: #fff;
    }

    &.gold span {
      background-color: #ffd700; /* Ouro */
    }

    &.silver span {
      background-color: #c0c0c0; /* Prata */
    }

    &.bronze span {
      background-color: #cd7f32; /* Bronze */
    }

    &.blue span {
      background-color: #007bff; /* Azul */
    }
  }

  .nickname {
    flex: 0 0 50%;
    text-align: left;
    padding-left: 8px;
  }

  .score {
    flex: 0 0 30%;
    text-align: right;
    padding-right: 8px;
    font-weight: bold;
    color: #333;
  }
}

.leaderboard-container {
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
